<div ng-show="messages">
  <h5 class="mt-5">{{ loginCridentials.username }}'s Messages:</h5>
  <table>
    <tr>
      <th>
        ID:
      </th>
      <th>
        Subject:
      </th>
      <th>
        Body:
      </th>
      <th>
        From:
      </th>
      <th>
        To:
      </th>
      <th>
        Date:
      </th>
      <th>

      </th>
    </tr>
    <tr ng-repeat="data in messages | orderBy: '-sent'">
      <td>
        {{ data.id }}
      </td>
      <td>
        {{ data.title }}
      </td>
      <td>
        {{ data.body }}
      </td>
      <td>
        {{ data.sender }}
      </td>
      <td>
        {{ data.receiver }}
      </td>
      <td>
        {{ data.sent | date : format : timezone }}
      </td>
      <td>
        <button ng-click="deleteMessage(data.id)" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
  </table>
</div>
<p ng-show="!messages" class="mt-5">
  In order to see your inbox <a href="/#!/login">login here.</a>
</p>
