<!doctype html>
<html ng-app="messageApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="icon" type="favicon.png" sizes="32x32">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div ng-controller="mainController" class="main-div d-flex justify-content-center">
      <div class="content">
        <img src="favicon.png" class="mt-5 mb-2">
        <h2 class="mb-4">The Message App</h2>
        <p ng-show="{{ loginCridentials }}">
          Current User Is : {{ loginCridentials.username }}
        </p>
        <nav>
          <a href="/#!/login" class="btn btn-light" ng-class="{active: location === '/login'}"><i class="fas fa-users"></i> User Select</a>
          <a ng-show="messages" href="/#!/" class="btn btn-light" ng-class="{active: location === '/'}"><i class="fas fa-inbox"></i> Inbox</a>
          <a ng-show="messages" href="/#!/sent" class="btn btn-light" ng-class="{active: location === '/sent'}"><i class="fas fa-share-square"></i> Sent</a>
        </nav>

        <div ng-show="messages">
          <a ng-click="toggleCompose = !toggleCompose" href="javascript:void(0);" class="btn btn-success btn-lg send-button"><i class="fas fa-envelope"></i> </a>
          <div ng-show="toggleCompose">
            <h5 class="mt-5">Send A Message:</h5>
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="receiver">Recipient:</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                      </div>
                      <input ng-model="messageRecipient" type="text" class="form-control" name="receiver" placeholder="Username" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title">Subject:</label>
                    <input ng-model="messageTitle" type="text" class="form-control" name="title" placeholder="Message subject" />
                  </div>
                  <div class="form-group">
                    <label for="body">Message:</label>
                    <textarea ng-model="messageBody" name="body" class="form-control" placeholder="Write message text here"></textarea>
                  </div>
                  <div class="form-group">
                    <button ng-click="sendMessage()" class="btn btn-success"><i class="fas fa-envelope"></i> Send Message</button>
                  </div>
                  <p>
                    {{ success.data | uppercase }}
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <ng-view class="animate"></ng-view>
      </div>
    </div>
  </body>
</html>
